<ezstream>
    <url>{{ stream_url }}</url>
    <sourcepassword>{{ stream_password }}</sourcepassword>
    <format>{{ streaming.stream_format }}</format>
    <filename>{{ streaming.file_name }}</filename>
    <stream_once>1</stream_once> 
    
    <svrinfoname>{{ streaming.server_info_name }}</svrinfoname>
    <svrinfourl>{{ streaming.server_info_url }}</svrinfourl>
    <svrinfogenre>{{ streaming.server_info_genre }}</svrinfogenre>
    <svrinfodescription>{{ streaming.server_info_description }}</svrinfodescription>
    
    <svrinfobitrate>{{ streaming.server_info_bitrate }}</svrinfobitrate>
    <svrinfochannels>{{ streaming.server_info_channels }}</svrinfochannels>
    <svrinfosamplerate>{{ streaming.server_info_samplerate }}</svrinfosamplerate>
    <svrinfopublic>{{ streaming.server_info_public }}</svrinfopublic>
</ezstream>

